ACTION=="add", ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="90b2", RUN+="/sbin/modprobe g_cdc" RUN+="/bin/sh -c 'echo -n 05c6 90b2 > /sys/bus/usb-serial/drivers/option1/new_id'"